.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* Player.js CSS */

.players {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;

}

.player {
  width: 50%;
  background-color: #09d3ac;
}

.active {
  background-color:pink;
}

.inactive {

}

/* Box.js CSS */

.box {
  border: 3px solid black;
  width: 6rem;
  height: 6rem;
}

/* Game.js CSS */
.row {
  display: flex;
}

.game {
  margin-left: 35%;
  margin-right: 35%;
}