@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

.App {
  text-align: center;
  font-family: 'VT323', monospace;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* Main App CSS */
h1 {
  font-size: 400%;
}

h2 {
  font-size: 300%;
  font-weight: lighter;
} 

button {
  margin-top: 1rem;
  font-family: 'VT323', monospace;
  font-size: 150%;
}
.win {
  font-size:200%;
}

/* Player.js CSS */

.players {
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
}

.player  {
  width: 50%;
  background-color: #09d3ac;
}

.active {
  width: 50%;
  background-color:pink;
}

.inactive {
  width: 50%;
  background-color: #09d3ac;
}

/* Box.js CSS */

.box {
  border: 3px solid black;
  width: 6rem;
  height: 6rem;
}

.value {
  font-size: 200%;
}

/* Game.js CSS */
.row {
  display: flex;
}

.game {
  position: relative;
  margin-left: 38rem;
  margin-right: 38rem;
  margin-top: 5rem;
}